extend layout.pug
block content

  script(type="text/javascript", src="https://cdn.plot.ly/plotly-latest.min.js")
  script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(type="text/javascript", src="/scripts/fireplot.js")
  script(type="text/javascript", src="/scripts/aab.js")
  script(type="text/javascript", src="/scripts/cab.js")
  script(type="text/javascript", src="/scripts/decadal_firenum.js")
  script(type="text/javascript", src="/scripts/decadal_firesize.js")
  script(type="text/javascript", src="/scripts/avs.js")
  script(type="text/javascript", src="/scripts/veg.js")
  script(type="text/javascript", src="/scripts/aabhist.js")

  script.
    var myFiles = "#{files}"

  div(style="width: 100%; margin-bottom: 10px;")
    h2 ALFRESCO Fire Plots

  div#firePlot(style="width: 1000px; height: 700px;")

  div#plotControls(style="text-align: left;")
    div
      span Plot Type:
      select#plotStyle 
        option(value="AAB") Annual Area Burned
        option(value="CAB") Cumulative Area Burned
        option(value="DFN") Decadal Fire Num
        option(value="DFS") Decadal Fire Size
        option(value="VEG") Vegetation Plots
      div
        span Region:
        select#region
      div
        span Replicate:
        select#rep
      //- input#plotfile(style="width: 300px;")
      div
        span Simulation File:
        select#fileList
      div
        span Historical File:
        select#obsList
      div#plotSpecificControls

