extend layout
block content

  script(type="text/javascript", src="https://cdn.plot.ly/plotly-latest.min.js")
  script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(type="text/javascript", src="/scripts/fireplot.js")
  script(type="text/javascript", src="/scripts/aab.js")
  script(type="text/javascript", src="/scripts/cab.js")
  script(type="text/javascript", src="/scripts/decadal_firenum.js")
  script(type="text/javascript", src="/scripts/decadal_firesize.js")
  script(type="text/javascript", src="/scripts/avs.js")
  script(type="text/javascript", src="/scripts/aabhist.js")

  div(style="width: 100%; height:60px; margin-bottom: 10px;")
    div#xyz(style="display: inline-block;")
      h2 ALFRESCO Fire Plots
    div(style="display: inline-block; width: 234px; height: 60px; float: right;")
      script.

        var myFiles = "#{files}"

  div#firePlot(style="width: 1000px; height: 700px;")

  div#plotControls(style="text-align: center;")
    select#plotStyle
      option(value="AAB") Annual Area Burned
      option(value="CAB") Cumulative Area Burned
      option(value="DFN") Decadal Fire Num
      option(value="DFS") Decadal Fire Size
    select#region
    select#rep
    //- input#plotfile(style="width: 300px;")
    select#fileList

  div#plotSpecificControls
    placeholder

  div(style="display: inline-block; width: 234px; height: 60px; float: right;")
      script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
